<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(GeneralPages.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(GeneralPages.MainLayout)">
            <h1>Página no encontrada</h1>
        </LayoutView>
    </NotFound>
</Router>
